* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: $fs-base;
  font-family: $f-base;
  background-color: $c-background-color;
}

img {
  width: 100%;
}

li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

div {
  width: 100%;
}

button {
  border: none;
  width: fit-content;
}

.icon {
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: currentColor;
  display: inline-block;

  &:not(.has-stroke) {
    stroke-width: 0;
  }
}

.wrapper {
  width: 100%;
}

.container {
  display: flex;
  margin: 0 auto;
  max-width: 1440px;
  padding: 12px 80px;
}
