@import '../variables';

.button {
  color: $c-black;
  padding: 16px 48px;
  font-size: $fs-button;
  background-color: $c-yellow;
  &:hover {
    background-color: $c-button-hover;
  }
  &:active {
    background-color: $c-white;
  }
  &__white {
    background-color: $c-white;
    &:active {
      background-color: $c-yellow;
    }
  }
  @media screen and (max-width: $tablet) {
    padding: 8px 24px;
    font-size: $fs-base;
  }
}
