@import '../variables';

.logo {
  width: fit-content;
  font-size: $fs-heading-h2;
  @media screen and (max-width: $tablet) {
    font-size: $fs-heading-h3;
  }
}

.link {
  color: $c-white;
  text-decoration: none;
  &:active {
    color: $c-yellow;
  }
}
